{% extends 'base.html' %}

{% load static %}

{% block title %} Автор | Магазин ПК-комплектующих{% endblock %}

{% block content %}

<h1>TASK_1</h1>
    <p>Миша хочет проверить, встречаются ли года определенного столетия в тексте. Напишите программу, которая поможет Мише.</p>
    
    <h2>ФОРМАТ ВВОДА</h2>
    <ul>
        <li>На первой строке <b>через пробел</b> записываются года (гарантировано состоящие из четырех цифр).</li>
        <li>На второй строке вводится <b>целое число</b> – столетие, года которого нужно найти.</li>
    </ul>
    
    <h2>ФОРМАТ ВЫВОДА</h2>
    <p>Целое число – количество годов, относящихся к веку, который интересует Мишу.</p>
    <p>Напоминание: 1999 и 2000 года относятся к 20 веку, а 2001 – уже к 21 веку.</p>
    
    <h2>Ввелите данные в URL строке</h2>

{% block back_to_top %}{% endblock %}

{% endblock %}
