{% extends 'base.html' %}

{% block title %}Условие задачи | Магазин ПК-комплектующих{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Условие задачи</h1>
        <div class="bg-white p-4 rounded shadow mt-4">
            <h3>Задача:</h3>
            <p>Миша хочет проверить, встречаются ли года определенного столетия в тексте. Напишите программу, которая поможет Мише.</p>
            
            <h3>Формат ввода:</h3>
            <ul>
                <li>Сначало через пробел записываются года (гарантировано состоящие из четырех цифр).</li>
                <li>Потом вводится целое число — столетие, года которого нужно найти.</li>
            </ul>
            
            <h3>Формат вывода:</h3>
            <p>Целое число — количество годов, относящихся к веку, который интересует Мишу.</p>
            
            <h3>Пример:</h3>
            <ol>
                <li>Ввод: <code>1346 1569 1324 1312 1852 1389 1567/14</code></li>
                <li>Результат: <code>4</code></li>
            </ol>
            
            <h3>Как использовать:</h3>
            <ul>
                <li>Введите URL в формате: <code>/task/&lt;года&gt;/&lt;столетие&gt;</code></li>
                <li>Например: <code>/task/1346 1569 1324 1312 1852 1389 1567/14</code></li>
            </ul>

            <h3>Дополнительные сведения:</h3>
            <ul>
                <li>Года должны быть целыми числами.</li>
                <li>Столетие должно быть целым числом.</li>
                <li>Писать через пробелы:
                    <ul>
                        <li>Сначала года</li>
                        <li>Потом столетия
                            <ol>
                                <li>См. пункт 1</li>
                                <li>См. пункт 2</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}